
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: collectors.rode.liatr.io
spec:
  group: rode.liatr.io
  names:
    kind: Collector
    listKind: CollectorList
    plural: collectors
    singular: collector
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Collector is the Schema for the collectors API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CollectorSpec defines the desired state of Collector
          properties:
            ecr:
              description: Defines configuration for collectors of the ecr_event type.
              properties:
                queueName:
                  description: Denotes the name of the AWS SQS queue to collect events
                    from.
                  type: string
              required:
              - queueName
              type: object
            type:
              description: Type defines the type of collector that this is. Supported
                values are ecr_event
              type: string
          required:
          - type
          type: object
        status:
          description: CollectorStatus defines the observed state of Collector
          properties:
            active:
              description: Denotes if the collector is correctly defined and active.
              type: boolean
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
